{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}Villa
{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
  <link herf="/assets/css/mouse.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
  <style>
    .money {
      font-family: 'Neuton', serif;

    }
  </style>
{% endblock %}


{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div class="row">
    <div class="col-lg-8 col-md-8 text-center">
      <img src="{{ villa.image_path }}" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-8 text-center">
      <br>
      <h3>{{ villa.name }}</h3>
      <br>
      <h2 class="money">{{ villa.cost | number_format }}-</h2>
      <br><br>
      <a class="btn btn-outline-secondary btn-xl" href="/reserve/{{ villa.id }}">

        <h4>予約する</h4>
      </a>
      <br><br><br>
      <h5>{{ villa.address }}</h5>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-lg-4 col-md-8 text-center">
      <img src="{{ villa.floor_path }}" class="img-thumbnail">
    </div>
    <div class="col-lg-8 col-md-8 text-left d-flex align-items-center">
      <p>{{ villa.description | nl2br }}
      </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  {% if spots %}
    <div class="row">
      <fieldset style="border: 1px dashed #000000; padding: 10px;">
        <legend class="text-center">付近のおすすめ観光地</legend>
        {% for row in spots %}
          <div class="row no-gutters">
            <div class="col-md-4 my-auto text-center">
              <img class="card-img" src="{{ row.image_path }}">
            </div>
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">{{ row.name }}</h5>
                <p>{{ row.description }}</p>
                <I class="fas fa-map-marker"></I>
                <a href="https://www.google.co.jp/maps/search/{{ row.address }}" target="_blank">{{ row.address }}</a><br>
                <I class="fas fa-phone-square"></I>
                <a href="tel:{{ row.phone }}">{{ row.phone }}</a>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}
      </fieldset>
    </div>
  {% endif %}
  <br><br><br>

  <div class=" col-lg-12 col-md-12">
    <h3>
      {{ calendar.month_name }}の予約状況
    </h3>
    <hr>
    <table class="table table-striped table-bordered">
      <tr>
        <th align="center">日</th>
        <th align="center">月</th>
        <th align="center">火</th>
        <th align="center">水</th>
        <th align="center">木</th>
        <th align="center">金</th>
        <th align="center">土</th>
      </tr>
      <tr>
        {% set cnt = 0 %}
        {% for cal in calendar %}
          <td align="center">
            {% set cnt = cnt + 1 %}
            {{ cal.day }}
            {% if cal.day %}
              {% if calendar[cal.day-1].reserved ==false or cal.day < today %}
                <br>×
              {% else %}
                <br><a href="/reserve/{{ villa.id }}">○</a>
              {% endif %}
            {% endif %}
          </td>
          {% if cnt == 7 %}
          </tr>
          <tr>
            {% set cnt = 0 %}
          {% endif %}
        {% endfor %}
      </tr>
    </table>


    <br><br><br>
    <div class="row">
      <a href="/reserve/{{ villa.id }}" class="btn btn-outline-secondary btn-block">予約する</a>
    </div>
  </div>

  <br><br><br><br><br><br>
{% endblock %}
{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
